*{
    margin: 0;

}

p{
    margin-top: 10px;
}

body{
    background-image: url("../images/titir.jpg");
    background-repeat: no-repeat;
    background-size: cover;
        
}

.box{
    /* margin: 10px rgb(109, 11, 11); */
    /* border: 5px blue; */
    background-color: aquamarine;
    /* height: 10rem; */
    width: 10rem;
    text-align:left;
    /* background-image: url("../images/property.png"); */
    background-size: 10rem ;
    /* background-position: center; */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    margin: 95% 95% 0% 0%;   

    
}

#output{
    color: #dfc8ce;
    background-color: rgb(43, 101, 209);
    width: 169px;
}

.info{
    background-color: rgb(76, 227, 103);
    /* display: block;
    /* margin: 95% 95% 0% 0%;  */
    /* width: fit-content; */ 
}


img{
    height: 50px;
    width: 50px;
    
   
}
